*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA #
*.iml
.idea

#some local files
*/.settings/
*/.DS_Store
.DS_Store
*/.idea/
.idea/

# Eclipse project files #
.settings
.project
.classpath
target
bin

# STS #
.apt_generated
.factorypath
.springBeans

.DS_Store

